<?xml version="1.0"?>

<launch>
  <group ns="vision">
    <node pkg="nodelet" type="nodelet" name="vision_nodelet"  args="manager">
          <param name="image_transport" value="compressed" />
    </node>
    <!--node pkg="nodelet" type="nodelet" name="camera" args="load uvc_camera/CameraNodelet vision_nodelet" /-->
    <!-- <remap from="bebop/image_raw" to="webcam/image_raw" /> -->
    <node pkg="nodelet" type="nodelet" name="yolo2" args="load yolo2/Yolo2Nodelet vision_nodelet" >

      <param name="confidence" value="0.4" />
      <param name="nms" value="0.1" />
    </node>

  </group>
</launch>
